@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham.ttf");
}
body {
  font-family: "Gotham", sans-serif;
  color: #000;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}
body * {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.butt {
  background: #16a085;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  width: 166px;
  height: 49px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  opacity: 0.8;
  border-radius: 5px;
  text-decoration: none;
  padding-top: 16px;
  box-sizing: border-box;
  letter-spacing: 0.3em;
}
.butt:hover {
  opacity: 1;
}
.butt:active {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7) inset;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
.container #header {
  letter-spacing: 0.3em;
  background: url(../img/bg-top.jpg) no-repeat;
  background-size: 100%;
  text-align: center;
  vertical-align: middle;
}
.container #header nav {
  width: 100%;
}
.container #header nav ul {
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
}
.container #header nav ul li {
  vertical-align: middle;
  display: inline-block;
  margin-left: 60px;
}
.container #header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.container #header nav ul li a:hover {
  color: #16a085;
  text-decoration: underline;
}
.container #header nav ul li:first-child {
  margin-left: 0px;
}
.container #header nav ul li:nth-child(3) img:first-child {
  display: block;
}
.container #header nav ul li:nth-child(3) img:last-child {
  display: none;
}
.container #header nav ul li:nth-child(3):hover img:last-child {
  display: block;
}
.container #header nav ul li:nth-child(3):hover img:first-child {
  display: none;
}
.container #header .title {
  margin-top: 240px;
  width: 100%;
}
.container #header .title h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}
.container #header .title p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.2em;
}
.container #header .social {
  width: 100%;
  margin-top: 230px;
}
.container #header .social ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
  padding-bottom: 25px;
}
.container #header .social ul li {
  display: inline-block;
  margin-left: 3px;
}
.container #header .social ul li:first-child {
  margin-left: 0px;
}
.container #header .social ul li a {
  display: block;
  width: 21px;
  height: 20px;
  background-size: 100% 100%;
  background-image: url(../img/flickr.png);
  background-repeat: no-repeat;
}
.container #header .social ul li:first-child a {
  background-image: url(../img/tw.png);
}
.container #header .social ul li:last-child a {
  background-image: url(../img/ball.png);
}
.container #sect2 {
  background: url(../img/bg-section-2.png) no-repeat #f5f6f7;
  padding-bottom: 140px;
  background-position: 76% 100%;
  padding-top: 90px;
}
.container #sect2 > div {
  float: left;
  max-width: 460px;
  margin-left: 115px;
  padding: 20px 15px;
}
.container #sect2 > div h3 {
  color: #16a085;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 30px;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.container #sect2 > div p {
  font-size: 12px;
  color: #373737;
  text-align: left;
  letter-spacing: .3em;
}
.container #sect2 > div p strong {
  color: #000;
}
.container #sect2 > div .butt {
  margin: 0px;
}
.container #sect3 {
  background: url(../img/bg-section-3.png) no-repeat #f5f6f7;
  padding-top: 120px;
  background-position: 10% 100%;
  padding-bottom: 90px;
}
.container #sect3 > div {
  float: right;
  max-width: 460px;
  margin-right: 115px;
  padding: 20px 15px;
}
.container #sect3 > div h3 {
  color: #16a085;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 30px;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.container #sect3 > div p {
  font-size: 12px;
  color: #373737;
  text-align: left;
  letter-spacing: .3em;
}
.container #sect3 > div p strong {
  color: #000;
}
.container #sect3 > div .butt {
  margin: 0px;
}
.container #sect3 > div div p {
  font-size: 12px;
  text-align: left;
}
.container #sect3 > div div .left-arr, .container #sect3 > div div .right-arr {
  height: 16px;
  width: 12px;
  background: url(../img/arr.png) no-repeat;
  display: inline-block;
  cursor: pointer;
}
.container #sect3 > div div .right-arr {
  margin-left: 10px;
  transform: rotate(180deg);
}
.container #sect4 > div {
  max-width: 1000px;
  margin: auto;
  padding: 100px 0;
}
.container #sect4 > div div {
  width: 40%;
  float: left;
  padding-left: 50px;
  position: relative;
}
.container #sect4 > div div img {
  width: 100%;
}
.container #sect4 > div div:first-child {
  width: 20%;
  padding-top: 50px;
}
.container #sect4 > div div:first-child img {
  display: block;
  margin: auto;
  width: auto;
}
.container #sect4 > div div:first-child p {
  text-align: center;
}
.container #sect4 > div div:first-child p:first-of-type {
  font-size: 16px;
  color: #373737;
}
.container #sect4 > div div:first-child p:last-child {
  font-size: 10px;
  color: #373737;
}
.container #sect4 > div div .left-arr, .container #sect4 > div div .right-arr {
  height: 16px;
  width: 12px;
  background: url(../img/arr.png) no-repeat;
  display: inline-block;
  position: absolute;
  right: 24px;
  top: -26px;
  cursor: pointer;
}
.container #sect4 > div div .right-arr {
  margin-left: 10px;
  transform: rotate(180deg);
  right: 0;
  top: -26px;
}
.container #sect5 {
  background: url(../img/bg-section-5.jpg) no-repeat 100% 100%;
  position: relative;
  min-height: 786px;
}
.container #sect5 form {
  position: absolute;
  width: 500px;
  height: 150px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -75px;
  text-align: center;
}
.container #sect5 form h4 {
  margin: 0px;
  margin-bottom: 15px;
  letter-spacing: 0.3em;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.container #sect5 form label {
  margin: auto;
  display: block;
  width: 342px;
  height: 60px;
}
.container #sect5 form label input {
  background: #fff;
  border: none;
  padding: 25px 20px;
  text-transform: uppercase;
  color: #373737;
  width: 282px;
  height: 60px;
  border-radius: 5px 0 0 5px;
  float: left;
  box-sizing: border-box;
}
.container #sect5 form label input:focus {
  outline: none;
}
.container #sect5 form label span {
  display: block;
  opacity: .8;
  width: 60px;
  height: 60px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  float: left;
  background: url(../img/check.png) no-repeat center #16a085;
}
.container #sect5 form label span:hover {
  opacity: 1;
}
